node_modules/
npm-debug.log
.DS_Store
.vscode/
.idea/
.env
/build/
/dist/
yarn.lock
package-lock.json
*.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
